div.results--main {
  /* margin: auto !important; */
  /* float: unset; */
  margin-left: calc(var(--max-content-width) + 48px);
  /* display: inline-block; */
}
/* div.results--sidebar {
  display: inline-block;
} */

div#header_wrapper {
  max-width: 1288px !important;
  margin: auto !important;
}

div#links_wrapper {
  padding-left: 0px !important;
}
